  <!-- Header starts -->
<header>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
            <div class="logo">
              <!-- If you are using image for logo, then replace the below two lines with image tag. Recommended size of logo image is less than 270x110 -->
              <a href="http://responsivewebinc.com/bootword"><img src="http://responsivewebinc.com/bootword/wp-content/uploads/2012/10/logo.png" alt="BootWord"></a>
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-4">
            <div class="social">
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>            

            </div>
        </div>
      </div>
    </div>
  </header>
		
<!-- Header ends -->

@Html.Partial("_Navbar")

