<!-- Navbar -->
<nav class="navbar" role="navigation">  
    <div class="navbar-inner">
        <div class="container">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>     
            </ul> 
          </div><!-- /.navbar-collapse -->
        </div>
    </div>  
</nav>